body{
    background-color: #F5f6f8;
    font-family: 'Prompt', sans-serif;
}
.navbar{
    background-color: #8BA2E0;
    padding-top: 2vh;
    padding-left: 2vw;
    font-size: 30px;
    padding-right: 2vw;
    padding-bottom: 3vh;
    z-index: 2;
}
.nav-item{
    color: #fff;
    
}
.navbar-nav{
    margin-left: auto;
}
.navbar-nav a{
    margin-left: 2vw;
}
.navbar-toggler{
    margin-bottom: 10vh;
    margin-right: 2vw;
}
.secondBar{
    background-color: #8BA2E0;
    height: 235px;
    width: 100vw;
    display: flex;
    flex-direction: column;    
    align-items: center;
    position: fixed;
    
    
}
#swapThisForThat{
    margin-top: -10px
}
.searchImg{
    /* margin-top: 5vh; */
    position: absolute;
}
@media screen and (max-width: 709px) {
    .searchImg {
      width: 100vw;      
    }
  }
@media screen and (max-width: 525px) {
    #swapThisForThat {
    width: 100vw;      
}
}
.topBackground{
    background-color: #8BA2E0;  
}
#addButton{
    background: none;
    border-radius: 50px;
    border: none;
    padding: 0 0 0 0;
    margin-top: 20px;
}
#addButton:hover{
    background: #4e66a9;
}

#container-down{
    height: auto;
    width: auto;
    /* border: 2px solid red; */
    margin: 30vh 5vw 0vw 5vw;
    
}

.hotSwap{
    
    width: 445px;
    height: 448px;    
}
.hotSwap:hover{
    border: 2px solid #8BA2E0;
    cursor: pointer;   
}
.hotSwapCon{
    /* border: 2px solid rgb(39, 199, 84); */
    justify-content: space-around;
}

.btn-looking{
    border-radius: 15px;
    background-color: #fff;
}
.btn-looking:hover{
    background-color: #8BA2E0;
}

.itemNameEdit{
    font-size: 22px;
    font-weight: bold;
    color: #213360;

}
.itemConditionEdit{
    font-size: 22px;
    color: #213360;

}
.itemLookingEdit{
    font-size: 22px;
    color: #213360;
}
.conditionDp{
    font-size: 22px;
    color: #5CB248;
    font-weight: bold;

}

.itemInfo{
    width:1200px;
    height: 756px;
    background-color: #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 18px;
    visibility: hidden;
    z-index: 5;
    border: 1px solid#707070;
}
@media screen and (max-width: 1200px) {
    .itemInfo {
    width: 90vw;
    height: auto;      
    }
}

.leftLine{
    border-left: 1px solid #AFAFAF;
}
.buttomLine{
    border-bottom: 1px solid #AFAFAF;
    margin-right: 2vw;
    margin-left: 1vw;
}
.buttomLine2{
    border-bottom: 1px solid #AFAFAF;
    margin-right: 1vw;
    margin-left: 1vw;
}

.interestingList{
    margin-left: 2vw;
    border: 1px solid #AFAFAF;
    border-radius: 19px;
    padding: 7px 20px 7px 20px;
}

#itemInfo-clickBack{
    position: absolute;
    top: -50px;    
}
#itemInfo-clickBack:hover{
    cursor: pointer;
    background-color: #213360;
    border-radius: 18px;
    padding: 0 10px 0 10px;
}

#offerWindow{
    width: 600px;
    height: 600px;
    background-color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 18px;
    visibility: hidden;
    border: 1px solid#707070;    
    text-align: center;
    align-items: center;
}