<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="home.css">
    <link rel="stylesheet" href="profile.css">
    <script src="https://kit.fontawesome.com/927be25b9b.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="message.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


</head>
  <body>
    <div id="navigation"></div>

    
    <div class="row" style="margin-top: 200px;">
        <!-- <div class="col-md-3">
            <div class="row">
                <h2 style="margin-left: 20px;">Message</h2>
                <div class="row mt-5 pb-5 buttomLine">
                    <div class="col-3">
                        <img src="/img/message/message_01.png" alt="">
                    </div>
                    <div class="col-6">
                        <h3 style="color: #546AA8;">Kanin.sua</h3>
                        <h3 style="color: #213360;">Hi</h3>
                    </div>
                    <div class="col-3">
                        <h5>10.33</h5>
                    </div>
                </div>
                <div class="row mt-5 pb-5 buttomLine">
                    <div class="col-3">
                        <img src="/img/message/message_02.png" alt="">
                    </div>
                    <div class="col-6">
                        <h3 style="color: #546AA8;">Moo.moo</h3>
                        <h3 style="color: #213360;">Hi</h3>
                    </div>
                    <div class="col-3">
                        <h5>10.33</h5>
                    </div>
                </div>
                <div class="row mt-5 pb-5 buttomLine">
                    <div class="col-3">
                        <img src="/img/message/message_03.png" alt="">
                    </div>
                    <div class="col-6">
                        <h3 style="color: #546AA8;">Pitcha.gon</h3>
                        <h3 style="color: #213360;">Hi</h3>
                    </div>
                    <div class="col-3">
                        <h5>10.33</h5>
                    </div>
                </div>
                <div class="row mt-5 pb-5 buttomLine">
                    <div class="col-3">
                        <img src="/img/message/message_04.png" alt="">
                    </div>
                    <div class="col-6">
                        <h3 style="color: #546AA8;">Kon.thi</h3>
                        <h3 style="color: #213360;">Hi</h3>
                    </div>
                    <div class="col-3">
                        <h5>10.33</h5>
                    </div>
                </div>
                <div class="row mt-5 pb-5 buttomLine">
                    <div class="col-3">
                        <img src="/img/message/message_05.png" alt="">
                    </div>
                    <div class="col-6">
                        <h3 style="color: #546AA8;">Johnny.son</h3>
                        <h3 style="color: #213360;">Hi</h3>
                    </div>
                    <div class="col-3">
                        <h5>10.33</h5>
                    </div>
                </div>
            </div>
            
        </div> -->
        <div class="col-md-3 d-flex justify-content-center align-items-center flex-column">
            <p>xxxxxxxxxxxxxxxxxxxxxxxxxx</p>
            <p>xxxxxxxxxxxxxxxxxxxxxxxxxx</p>
            <p>xxxxxxxxxxxxxxxxxxxxxxxxxx</p>
            <p>xxxxxxxxxxxxxxxxxxxxxxxxxx</p>
            <p>xxxxxxxxxxxxxxxxxxxxxxxxxx</p>
            <p>xxxxxxxxxxxxxxxxxxxxxxxxxx</p>
            <p>xxxxxxxxxxxxxxxxxxxxxxxxxx</p>
            <p>xxxxxxxxxxxxxxxxxxxxxxxxxx</p>
            <p>xxxxxxxxxxxxxxxxxxxxxxxxxx</p>
            <p>xxxxxxxxxxxxxxxxxxxxxxxxxx</p>

        </div>
        <div class="col-md-6 " style="background-color: #fff;">
            <div class="row mt-4 buttomLine pb-4">
                <div class="col-2 d-flex align-items-center justify-content-center">
                    <img src="/img/message/message_01.png" alt="" class="img-fluid">
                </div>
                <div class="col-10 d-flex justify-content-center flex-column">
                    <h2 style="color: #213360;">Kanin.sua</h2>
                    <div class="row">
                        <div class="col-3 d-flex align-items-center " id="userRatingCLick">
                            <i class="fa-solid fa-star" style="font-size: 30px;" id="star11"></i>
                            <i class="fa-solid fa-star" style="font-size: 30px;" id="star22"></i>
                            <i class="fa-solid fa-star" style="font-size: 30px;" id="star33"></i>
                            <i class="fa-solid fa-star" style="font-size: 30px;" id="star44"></i>
                            <i class="fa-solid fa-star" style="font-size: 30px;" id="star55"></i>
                        </div>                        
                    </div>
                    
                </div>
            </div>
            <div class="row mt-4 pb-4">
                <div class="col-1 d-flex align-items-center justify-content-start">
                    <img src="/img/message/message_01.png" alt="" class="img-fluid">
                </div>
                <div class="col-11 d-flex align-items-center justify-content-start">
                    <h4 style="color: #2B468B; background-color: #EFEFEF; border-radius: 12px; padding: 5px 20px 5px 20px;">Hi</h4>
                </div>
            </div>
            <div class="row mt-4 pb-4 mb-4 buttomLine" style="flex-direction: row-reverse; height: 40vh;">
                <div class="col-1 d-flex align-items-center justify-content-center">
                    <img src="/img/message/message_05.png" alt="" class="img-fluid">
                </div>
                <div class="col-11 d-flex align-items-center justify-content-end">
                    <h4 style="color: #fff; background-color: #546AA8; border-radius: 12px; padding: 5px 20px 5px 20px;">Hi</h4>
                </div>
            </div>
            <div class="row">
                <div class="input-group">
                    <input type="text" class="form-control" id="messageInput" placeholder="Write something" style="border-radius: 34px; background-color: #F5F6F8; height: 50px;" aria-label="messageInput">
                    <button class="btn btn-outline-secondary" type="button" style="height: 50px; border: 0; border-radius: 50px;">
                        <img src="/img/message/message_07.png" alt="">
                    </button>
                    <button class="btn btn-outline-secondary" type="button" style="height: 50px; border: 0; border-radius: 50px;">
                        <img src="/img/message/message_06.png" alt="" style="height: 40px;" >
                    </button>
                </div>                
            </div>
        </div>
        <div class="col-md-3">
            <div class="container d-flex align-items-center justify-content-center flex-column">
                <img src="/img/message/message_08.png" alt="" style="border-radius: 31px;" class="img-fluid mt-5 mb-5">
                <h2 style="color: #213360;">Logitect mouse</h2>
                <button id="acceptBtn" class="btn btn-outline-secondary mt-5" type="button" style="height: 61px; width: 154px; border: 0; border-radius: 33px; background-color: #32B793;"><h2 style="color: #fff;">Accept</h2></button>
                <button id="unacceptBtn" class="btn btn-outline-secondary mt-4" type="button" style="height: 61px; width: 154px; border: 0; border-radius: 33px; background-color: #C97171;"><h2 style="color: #fff;">Cancel</h2></button>
                
                <div class="row" id="IsReceived" style="display: none; ">
                    <button id="ReceivedBtn" class="btn btn-outline-secondary mt-5" type="button" style="height: 61px; width: 154px; border: 0; border-radius: 33px; background-color: #32B793; margin: 20px;"><h2 style="color: #fff; font-size: 25px;">Received</h2></button>
                    <button id="UnReceivedBtn" class="btn btn-outline-secondary mt-5" type="button" style="height: 61px; width: 154px; border: 0; border-radius: 33px; background-color: #C97171; margin: 20px; "><h2 style="color: #fff; font-size: 25px;">Unreceived</h2></button>
                </div>
                
            
            </div>
        </div>
    </div>

    <div class="container shadow" id="userRatingCtn">
        <div class="row">
            <div class="col-md-12">
                <div class="centered">
                    <div class="d-flex align-items-center justify-content-center flex-column mt-2">
                        <h3 style="color: #213360;">User Rating</h3>
                        <i id="thumbEdt" class="fa-regular fa-thumbs-up mt-2" style="font-size: 10vh; color: #fbc77f;"></i>
                        <h2 class="mt-2" style="color: #213360;">Kanin.sua</h2>
                        <div class="d-flex align-items-center mt-2 userRatingHide" id="userRatingCLick">
                            <i class="fa-solid fa-star" style="font-size: 5vh;" id="star1"></i>
                            <i class="fa-solid fa-star" style="font-size: 5vh;" id="star2"></i>
                            <i class="fa-solid fa-star" style="font-size: 5vh;" id="star3"></i>
                            <i class="fa-solid fa-star" style="font-size: 5vh;" id="star4"></i>
                            <i class="fa-solid fa-star" style="font-size: 5vh;" id="star5"></i>
                        </div>
                        <textarea class="form-control" name="comment" id="" cols="30" rows="10" style="height: 9vh; width: 35vh; margin-top: 2vh;" placeholder="Comment someting..."></textarea>
                        <button type="button" class="btn btn-primary mt-2" id="confirmStar" style="background-color: #32B793;">Confirm</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="confirmCon" class="shadow" style="display: none;">
        <div class="modal-content d-flex">
          <div class="modal-header">
            <h5 class="modal-title">Confirmation</h5>
            <button id="closeConfirm" type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>            
          </div>
          <div class="modal-body">
            Are you sure you want to perform this action?
          </div>
          <div class="modal-footer d-flex align-items-center justify-content-center mt-2">
            <button type="button" class="btn btn-primary" id="confirmAction">Confirm</button>
          </div>
        </div>
      </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="profile.js"></script>
    <script src="message.js"></script> 
    <script src="nav2.js"></script>
   
  </body>
</html>