<!--nav ส่วนด้านบนของทุกหน้า-->

<div id="nav1" class="fixed-top row pb-5" style="background-color: #8BA2E0;">
    <nav class="navbar navbar-expand-lg ">
        <a class="navbar-brand" href="/login">
            <img src="/img/img_home_01.png" alt="" class="img-fluid">
        </a>
        <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>        
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <div class="navbar-nav ">
                <a class="nav-item nav-link " href="/home">Home</a>
                <a class="nav-item nav-link " href="/SwapList">Swap</a>
                <a class="nav-item nav-link " href="/GiveList">Giveaway</a>
                <a class="navbar-brand" href="/profile">
                    <img src="/img/img_home_02.png" alt="" class="img-fluid">
                </a>                    
            </div>
        </div>            
    </nav>
    
    <!--ปุ่มเพิ่มสิ่งของ กดแล้วไปหน้าให้เลือกระหว่าง swap/giveaway-->
    <div class="col-12 d-flex justify-content-center">
        <div class="row">
            <img src="/img/img_home_07.png" alt="" id="swapThisForThat" class="col-12">
            <a href="/swapGive" class="col-12 d-flex justify-content-center">
                <button id="addButton">
                    <img src="/img/img_home_08.png" alt="" >
                </button>
            </a> 
        </div>                   
    </div>
</div>
<style>
    body{
        margin-top: 500px;
    }
</style>