<nav class="navbar navbar-expand-lg fixed-top">
    <a class="navbar-brand" href="/home">
        <img src="/img/img_home_01.png" alt="" class="img-fluid">
    </a>
    <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <div class="navbar-nav ">
            <a class="nav-item nav-link " href="/home">Home</a>
            <a class="nav-item nav-link " href="/SwapList">Swap</a>
            <a class="nav-item nav-link " href="/GiveList">Giveaway</a>
            <a class="navbar-brand" href="/profile">
                <img src="/img/img_home_02.png" alt="" class="img-fluid">
            </a>                
        </div>
    </div>
</nav>